.book-card{
    max-width: 68%;
    background-color: #808286;
}

.car-img{
    min-width: 100%;
    min-height: 100%; 
    object-fit: cover;
    margin: 0;
}

h5{
    font-weight: bold;
}

form label{
    font-weight: bold;
    margin-right: 2%;
}

.toDate{
    margin-left: 4.4%;
}

.date{
    margin-bottom: 2%;
}

.btn{
    margin-right: 2%;
}